@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin sectionHeader {
  font-family: arial, fantasy;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: $color-Purple;
  margin: 20px;
}
