$color-primary: #579db8;
$color-Purple: #291653;
$color-light: #e3eff5;

$color-myBlue: #0075ff;

$default-font-size: 1.4rem;
$default-font-family: "Poppins", sans-serif;

$color-grey-dark: #1a141a;
$color-white: #fff;
$color-black: #000;

$font-primary: arial, fantasy;

$clip-path-circle: circle(50% at 50% 50%);
