<script src="/js/chat-login.js"></script>

<main class="login-page">

  <section class="form__container ">
    <div class="chat-login-page">
      <h1>Welcome to BooksChat!</h1>
      <h2>Please enter your username to start chatting.</h2>
      <!-- <input class="username-input" type="text" name="username" placeholder="Enter username..." /> -->
      <button class="login-button">Let&rsquo;s chat!</button>
    </div>
  </section>
</main>
