<%- exposeLocalsToBrowser(); %>
  <!-- <script src="/js/chat-room.js"></script>
<script src="/js/user-list.js"></script>
<script src="/js/chat-page.js"></script> -->

  <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  </head>

  <div class="navbar">
    <div class="navbar__logo">
      <a href="/"><i class="fas fa-atlas"></i>eBook</a>
    </div>

    <div class="navbar__options">
      <div class="navbar__option">
        <a href="/faq">FAQ<i class="fas fa-info-circle"></i></a>
      </div>

      <div class="navbar__option">
        <a href="/chat">Chat<i class="fas fa-comment-dots"></i></a>
      </div>

      <div class="navbar__option">
        <a href="/myebooks">
          <%= username %><i class="fas fa-book-open"></i>
        </a>
      </div>

      <div class="navbar__option">
        <a href="/account">Settings<i class="fas fa-cog"></i></a>
      </div>
    </div>
  </div>

  <main class="chat-container chat-page">
    <div class="chat-container__heading heading-secondary">Welcome to SailsChat, <%= username %>!</div>
    <div class="user-list-section chat-container__users">
      <h4 class="chat-container__users-header heading-tertiary">Users</h4>
      <ul class="user-list chat-container__users-list chat-container__users"></ul>
    </div>
    <div class="chat-transcript-container chat-container__messages">
      <div class="chat-transcript chat-container__messages"></div>
    </div>
    <div class="chat-controls chat-container__input">
      <input class="chat-input chat-container__input--text input" type="text" placeholder="Enter a message..." />
      <button class="send-chat-button chat-container__input--btn">Send chat</button>
    </div>
  </main>