<div class="navbar">
  <div class="navbar__logo">
    <a href="/"><i class="fas fa-atlas"></i>eBook</a>
  </div>

  <div class="navbar__options">
    <div class="navbar__option">
      <a href="/faq">FAQ<i class="fas fa-info-circle"></i></a>
    </div>
    <% if (user) { %>
    <div class="navbar__option">
      <a href="/chat">Chat<i class="fas fa-comment-dots"></i></a>
    </div>

    <div class="navbar__option">
      <a href="/myebooks"
        ><%= user.firstName %><i class="fas fa-book-open"></i
      ></a>
    </div>

    <div class="navbar__option">
      <a href="/account">Settings<i class="fas fa-cog"></i></a>
    </div>

    <% } else {%>
    <div class="navbar__option">
      <a href="/signup">Sign Up<i class="fas fa-user-plus"></i></a>
    </div>

    <div class="navbar__option">
      <a href="/login">Log In<i class="fas fa-sign-in-alt"></i></a>
    </div>
    <% } %>
  </div>
</div>
