<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
</head>
<nav class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/faq">FAQ</a></div>
    <div class="navbar__chat"><a href="/chat">Chat</a></div>
    <div class="navbar__user"><a href="/account"><i class="far fa-user"></i>

        </a>
    </div>
    <div class="navbar__login"><a href="/logout">Logout</a></div>
</nav>
<main class="signup-page">
    <section class="form__container-settings">
        <h4 class="heading-secondary ">settings</h4>
        <div class="form__container-settings--img"></div>
        <div class="form__container-settings--links">
            <a href="/account/email" class="btn btn-text">change e-mail</a>
            <a href="/account/password" class="btn btn-text">change password</a>
            <a href="/account/name" class="btn btn-text">change name</a>
        </div>
    </section>
</main>