<%- partial('../../partials/head.ejs') %> <%-
partial('../../partials/navbar.ejs') %>

<main class="account-page">
  <section class="form">
    <h4 class="formHeader">Settings</h4>
    <i class="fas fa-user-cog"></i>
    <a href="/account/name" class="btn btn-text">Change name</a>
    <a href="/account/email" class="btn btn-text">Change e-mail</a>
    <a href="/account/password" class="btn btn-text">Change password</a>
  </section>
</main>
