<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
</head>
<nav class="navbar">
    <div class="navbar__logo"><a href="/">VideoClub</a></div>
    <div class="navbar__faq"><a href="/faq">FAQ</a></div>
    <div class="navbar__chat"><a href="/chat">Chat</a></div>
    <div class="navbar__user"><a href="/"><i class="far fa-user"></i>

        </a>
    </div>
    <div class="navbar__login"><a href="/logout">Logout</a></div>
</nav>
<main class="signup-page">
    <section class="form__container">
        <form action="/account/password" method="POST" class="form__container-form">
            <input id="password" name="password" class="input" type="password" placeholder="Insert old password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                required oninput="validatePassword()" />
            <input id="newPassword" name="newPassword" class="input" type="password" placeholder="New password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                required oninput="validatePassword()" />
            <input id="confirmPassword" name="confirmPassword" class="input" type="password"
                placeholder="Confirm new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                required oninput="validateConfirmPassword()" />
            <p class="heading-secondary error"></p>
            <button class="btn btn-form">Update Password</button>
        </form>
    </section>
</main>