<%- partial('../../partials/head.ejs') %>
    <%- partial('../../partials/navbar.ejs') %>
        <main class="signup-page">
            <section class="form__container">
                <form action="/account/password" method="POST" class="form">
                    <input id="password" name="password" class="input" type="password" placeholder="Insert old password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                        required oninput="validatePassword()" />
                    <input id="newPassword" name="newPassword" class="input" type="password" placeholder="New password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                        required oninput="validatePassword()" />
                    <input id="confirmPassword" name="confirmPassword" class="input" type="password"
                        placeholder="Confirm new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                        required oninput="validateConfirmPassword()" />
                    <p class="heading-secondary error"></p>
                    <button class="btn btn-form">Update Password</button>
                </form>
            </section>
        </main>