<%- partial('../../partials/head.ejs') %> <%-
partial('../../partials/navbar.ejs') %>

<main class="login-page">
  <section class="form__container">
    <form action="" method="POST" class="form login">
      <h4 class="formHeader">LOGIN</h4>
      <input
        id="email"
        name="email"
        class="input"
        type="email"
        placeholder="E-Mail Address"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
        oninput="validateEMail()"
      />
      <input
        id="password"
        name="password"
        class="input"
        type="password"
        placeholder="Password"
        required
      />
      <p class="heading-secondary error"></p>
      <button class="btn btn-form">Login</button>
    </form>
  </section>
</main>
