@charset "UTF-8";
/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * For more information see:
 *   https://sailsjs.com/anatomy/assets/styles/importer-less
 */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 30vh auto;
  background-color: rgba(87, 157, 184, 0.7);
  border-radius: 10px;
  padding: 40px;
}

.form .formHeader {
  font-family: arial, fantasy;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 15px;
}

.form .input {
  margin-bottom: 15px;
  font-size: 1.4rem;
  height: 35px;
  outline: none;
  border: none;
  padding: 5px 20px;
}

.form .input:focus {
  outline: none;
  border-bottom: 2px solid #077a70;
  font-size: 1.4rem;
}

.form .input:focus:invalid {
  border-bottom: 2px solid tomato;
}

.form .btn-form {
  background-color: #291653;
  color: white;
  height: 35px;
  width: 50%;
  font-size: 1.2rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 8vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#579db8), to(rgba(87, 157, 184, 0.3)));
  background-image: linear-gradient(180deg, #579db8, rgba(87, 157, 184, 0.3));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.navbar__logo, .navbar__faq, .navbar__signup, .navbar__login {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin: 0 3vw;
}

.navbar__logo a, .navbar__faq a, .navbar__signup a, .navbar__login a {
  text-decoration: none;
  color: #fff;
}

.navbar__logo:hover, .navbar__faq:hover, .navbar__signup:hover, .navbar__login:hover {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.navbar .searchBook {
  background-color: rgba(255, 255, 255, 0.342);
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 5px 10px;
  color: #291653;
}

.navbar .searchBook:placeholder-shown {
  font-size: 1.3rem;
  padding: 5px 10px;
}

.navbar .searchBook:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.726);
  font-size: 1.3rem;
  padding: 5px 10px;
}

.navbar__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header {
  height: 40vh;
  background-image: url(../images/Beach-and-eBook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 55%;
}

.header .landing {
  font-family: "Poppins", sans-serif;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 7%;
}

.header .landing .sub-heading {
  font-weight: 500;
  font-size: 2rem;
  color: #291653;
  overflow: hidden;
  padding-bottom: 1em;
  text-align: left;
}

.header .landing .sub-heading .typed-text {
  color: #9e3155;
  font-size: 2rem;
}

.header .landing .sub-heading .cursor {
  display: inline-block;
  background-color: #9e3155;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.bookCard {
  width: 220px;
  height: 420px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 15px;
}

.bookCard .bookTitle {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e3eff5;
}

.homeContainer {
  max-width: 1350px;
  margin: 50px auto;
}

.homeContainer .sectionHeader {
  font-family: arial, fantasy;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #291653;
  margin: 20px;
}

.homeContainer_Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.homeContainer_Section .genreCard {
  text-decoration: none;
  width: 31%;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.homeContainer_Section .genreCard:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: rgba(0, 0, 0, 0.192);
  background-blend-mode: darken;
}

.homeContainer_Section .genreCard_Fantasy {
  background-image: url("/images/gerneList/Fantasy2.jpg");
}

.homeContainer_Section .genreCard_Romance {
  background-image: url("/images/gerneList/romance1.jpg");
}

.homeContainer_Section .genreCard_Action {
  background-image: url("/images/gerneList/action1.jpg");
}

.homeContainer_Section .genreCard_SciFi {
  background-image: url("/images/gerneList/SCI_FI.jpg");
}

.homeContainer_Section .genreCard_Mystery {
  background-image: url("/images/gerneList/mysterySmall.jpg");
}

.homeContainer_Section .genreCard_Childer {
  background-image: url("/images/gerneList/comics.jpg");
}

.homeContainer_Section .genreCard_Thriller {
  background-image: url("/images/gerneList/thriller1.jpg");
}

.homeContainer_Section .genreCard_History {
  background-image: url("/images/gerneList/history1.jpg");
}

.homeContainer_Section .genreCard_Educational {
  background-image: url("/images/gerneList/educational4.jpg");
  background-position-y: 70%;
}

.homeContainer_Section .genreCard .genreTitle {
  text-align: center;
  font-size: 1.7rem;
  color: white;
  background-color: rgba(85, 85, 85, 0.562);
  border-radius: 10px 10px 0 0;
}

.eBooksHeader {
  height: 30vh;
  background-image: url(../images/istock-584503712-1024x683.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
}

.eBooksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px auto;
  max-width: 1500px;
}

.eBooksContainer .browseBooks .sectionHeader {
  font-family: arial, fantasy;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #291653;
  margin: 20px;
}

.eBooksContainer .browseBooks .searchResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.optionsMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  margin: 15px;
  padding: 25px;
  font-size: 1.4rem;
  font-family: arial, fantasy;
  height: 100%;
}

.optionsMenu__option {
  margin-bottom: 20px;
}

.optionsMenu .genre__sellection {
  width: 100%;
  font-size: 1.4rem;
  font-family: arial, fantasy;
}

.optionsMenu .range-wrap {
  position: relative;
  margin: 10px;
}

.optionsMenu .range-wrap .range {
  width: 100%;
}

.optionsMenu .range-wrap .bubble {
  background: #0075ff;
  color: white;
  padding: 5px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.optionsMenu .range-wrap .bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #0075ff;
  top: -1px;
  left: 50%;
}

.optionsMenu__btn {
  background-color: #0075ff;
  color: white;
  font-size: 1.4rem;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
}

.signup-page,
.login-page {
  height: 100vh;
  background-image: url(../images/free-ebook-image.jpeg);
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0);
}

.chat-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.chat-page .hidden, .chat-page .template {
  display: none !important;
}

.chat-page .header {
  margin-bottom: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 60px;
  padding: 10px;
}

.chat-page .header h1 {
  margin-bottom: 0px;
}

.chat-page .header .logout {
  text-decoration: underline;
  cursor: pointer;
}

.chat-page .main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chat-page .main .chat-room-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: solid 1px #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-page .main .chat-room-section .chat-transcript-container {
  overflow: auto;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1;
}

.chat-page .main .chat-room-section .chat-transcript-container .chat-transcript {
  line-height: 25px;
  padding-bottom: 50px;
}

.chat-page .main .chat-room-section .chat-transcript-container .chat-transcript .chat-line .username {
  font-weight: bold;
}

.chat-page .main .chat-room-section .chat-transcript-container .chat-transcript .admin-chat-line .text {
  font-weight: bold;
}

.chat-page .main .chat-room-section .chat-controls-container {
  position: absolute;
  width: 100%;
  height: 38px;
  bottom: 0px;
  left: 0px;
  background-color: #eee;
  z-index: 2;
}

.chat-page .main .chat-room-section .chat-controls-container .chat-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.chat-page .main .chat-room-section .chat-controls-container .chat-controls .chat-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chat-page .main .chat-room-section .chat-controls-container .chat-controls .send-chat-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100px;
}

.chat-page .main .user-list-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  background-color: #ccc;
}

.chat-page .main .user-list-section .header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  height: 20px;
  margin: 0px 0px 5px 0px;
}

.chat-page .main .user-list-section .user-list {
  list-style: none;
  padding: 0px 0px 0px 5px;
  line-height: 20px;
  margin: 0px;
}

.chat-page .main .user-list-section .user-list .offline {
  font-style: italic;
  color: #999;
}

/*! This special bang (!) comment is here to trick the `hash` Grunt task into working out-of-the-box, without any real CSS. You can delete this once you've imported ≥1 .less file as demonstrated above. */
/*# sourceMappingURL=importer.css.map */