.eBooksHeader {
  height: 30vh;
  background-image: url(../images/istock-584503712-1024x683.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;

  .searchBook {
    margin: 130px 10%;
    background-color: rgba(255, 255, 255, 0.75);
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 20px;
    color: $color-Purple;
    &:placeholder-shown {
      font-size: 1.3rem;
      padding: 5px 20px;
    }
    &:focus {
      outline: none;
      // background-color: rgba(245, 245, 245, 0.85);
      font-size: 1.3rem;
      padding: 5px 20px;
    }
  }
}

.eBooksContainer {
  @include flex-row;
  margin: 20px auto;
  max-width: 1500px;

  .browseBooks {
    .sectionHeader {
      @include sectionHeader;
    }
    .searchResults {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .asideContainer {
    min-width: 250px;
    margin: 50px 20px;

    .optionsMenu {
      position: -webkit-sticky;
      position: sticky;
      top: 150px;
      width: 100%;
      background-color: rgba($color: $color-Purple, $alpha: 0.1);
      // border: 1px solid $color-Purple;
      border-radius: 10px;
      margin-top: 20px;
      padding: 25px;
      font-size: 1.2rem;
      font-family: $font-primary;

      &__option {
        margin-bottom: 20px;
      }
      .genre__sellection {
        width: 100%;
        font-size: 1.2rem;
        font-family: $font-primary;
      }
      .range-wrap {
        position: relative;
        margin: 10px;

        .range {
          width: 100%;
        }
        .bubble {
          background: $color-myBlue;
          color: white;
          padding: 5px;
          position: absolute;
          border-radius: 4px;
          left: 50%;
          transform: translateX(-50%);
        }
        .bubble::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 2px;
          background: $color-myBlue;
          top: -1px;
          left: 50%;
        }
      }

      &__btn {
        display: block;
        background-color: $color-Purple;
        color: white;
        padding: 7px;
        width: 50%;
        font-size: 1.1rem;
        transition: all 0.1s ease-in-out;
        margin: 40px auto 0 auto;
        &:hover {
          transform: translateY(-0.1rem);
        }
      }
    }
  }
}
