body {
  background-color: #e3eff5;
}

.homeContainer {
  max-width: 1350px;
  margin: 50px auto;

  .sectionHeader {
    @include sectionHeader;
  }

  &_Section {
    @include flex-row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;

    .genreCard {
      text-decoration: none;
      width: 31%;
      height: 250px;
      margin-bottom: 20px;
      border-radius: 10px;
      background-size: cover;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.03);
        background-color: rgba(0, 0, 0, 0.192);
        background-blend-mode: darken;
        // background-size: 110%;
      }

      &_Fantasy {
        background-image: url("/images/gerneList/Fantasy2.jpg");
      }
      &_Romance {
        background-image: url("/images/gerneList/romance1.jpg");
      }
      &_Action {
        background-image: url("/images/gerneList/action1.jpg");
      }
      &_SciFi {
        background-image: url("/images/gerneList/SCI_FI.jpg");
      }
      &_Mystery {
        background-image: url("/images/gerneList/mysterySmall.jpg");
      }
      &_Childer {
        background-image: url("/images/gerneList/comics.jpg");
      }
      &_Thriller {
        background-image: url("/images/gerneList/thriller1.jpg");
      }
      &_History {
        background-image: url("/images/gerneList/history1.jpg");
      }
      &_Educational {
        background-image: url("/images/gerneList/educational4.jpg");
        background-position-y: 70%;
      }

      .genreTitle {
        text-align: center;
        font-size: 1.7rem;
        color: white;
        background-color: rgba(85, 85, 85, 0.562);
        border-radius: 10px 10px 0 0;
      }
    }
  }
}
