<%- partial('../partials/head.ejs') %> <%- partial('../partials/navbar.ejs') %>

<header class="eBooksHeader">
  <div class="landing">
    <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
    <!-- <h3 class="sub-heading">
      eBook means <span class="typed-text"></span
      ><span class="cursor">&nbsp;</span>
    </h3> -->
  </div>
</header>

<div class="eBooksContainer">
  <aside class="optionsMenu">
    <form action="" method="">
      <select
        name="genre"
        class="genre__sellection optionsMenu__option"
        id="genre"
        onchange="this.form.submit()"
      >
        <option style="display: none">Genre</option>
        <option value="All">- All -</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Romance">Romance</option>
        <option value="Action">Action</option>
        <option value="SciFi">Science Fiction</option>
        <option value="Mystery">Mystery</option>
        <option value="Children">Children's</option>
        <option value="Thriller">Thriller</option>
        <option value="History">History</option>
        <option value="Educational">Educational</option>
      </select>

      <div class="optionsMenu__option">
        <label for="isBestSeller"></label>
          <i class="fas fa-star"></i> Best Seller</label
        >
        <input
          type="checkbox"
          name="isBestSeller"
          id="isBestSeller"
          value="1"
        />
      </div>

      <div class="optionsMenu__option">
        <label for="isEditorsChoise"
        ><i class="fas fa-bookmark"></i
          > Editor's Choise</label>
        <input type="checkbox" name="isEditorsChoise" id="isEditorsChoise" />
      </div>

      <div class="range-wrap optionsMenu__option">
        <label for="range">Max price:</label>
        <input
          type="range"
          class="range"
          min="0"
          max="50"
          value="50"
          id="range"
        />
        <output class="bubble"></output>
      </div>

      <button type="submit">Search</button>
    </form>
  </aside>

  <main class="browseBooks">
    <h3 class="sectionHeader">SEARCH RESULTS</h3>
    <div class="searchResults">
      <!-- an eBook to repeat -->
      <% for(i=0; i<10; i++) {%>
      <div class="bookCard">
        <img src="/images/eBooksImg/51SZX1BvX6L.jpg" alt="" />
        <p class="bookTitle">A Shifter's Curse</p>
        <p class="bookAuthor">Raven Steele</p>
        <div class="bookDetails">
          <span class="bookRating">Rating: 4.5</span>
          <span class="bookBS"> BS <i class="fas fa-star"></i></span>
          <span class="bookEC"> EC <i class="fas fa-bookmark"></i></span>
        </div>
      </div>
      <% } %>
      <!-- end of ebook -->
    </div>
  </main>
</div>

<script src="/js/ebooks.js"></script>
