<%- partial('../partials/head.ejs') %> <%- partial('../partials/navbar.ejs') %>

<section class="faq__stack">
  <p class="heading-secondary faq__stack-title">OUR STACK</p>
  <div class="faq__stack-front">
    <p class="faq__stack-front--title">Front-End</p>
    <p class="faq__stack-front--text">EJS, SCSS</p>
  </div>
  <div class="faq__stack-back">
    <p class="faq__stack-back--title">Back-End</p>
    <p class="faq__stack-back--text">Node.js, Sails.js</p>
  </div>
  <div class="faq__stack-db">
    <p class="faq__stack-db--title">Database</p>
    <p class="faq__stack-db--text">MySQL</p>
  </div>
</section>
<section class="faq__about">
  <h4 class="heading-primary--sub faq__about-title">the team</h4>
  <section class="faq__about-boxcontainer">
    <div class="faq__about-box">
      <div class="faq__about-box--title">
        <div class="faq__about-box--title_photo photo-1"></div>
        Anastasia Kounoupi
      </div>
      <div class="faq__about-box--text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, in.
      </div>
      <div class="faq__about-box--links">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
    <div class="faq__about-box">
      <div class="faq__about-box--title">
        <div class="faq__about-box--title_photo photo-2"></div>
        Nektarios Mpanousi
      </div>
      <div class="faq__about-box--text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, in.
      </div>
      <div class="faq__about-box--links">
        <a
          href="https://linkedin.com/in/nektarios-banousi-75baa2205"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://github.com/BanNektarios" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <div class="faq__about-box">
      <div class="faq__about-box--title">
        <div class="faq__about-box--title_photo photo-3"></div>
        Grigoris Palaiochoritis
      </div>
      <div class="faq__about-box--text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, in.
      </div>
      <div class="faq__about-box--links">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
    <div class="faq__about-box">
      <div class="faq__about-box--title">
        <div class="faq__about-box--title_photo photo-4"></div>
        Petros Foutsis
      </div>
      <div class="faq__about-box--text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, in.
      </div>
      <div class="faq__about-box--links">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
    <div class="faq__about-box">
      <div class="faq__about-box--title">
        <div class="faq__about-box--title_photo photo-5"></div>
        Andreas Koutroulis
      </div>
      <div class="faq__about-box--text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, in.
      </div>
      <div class="faq__about-box--links">
        <a
          href="https://www.linkedin.com/in/andreas-koutroulis/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://github.com/AndreasCtrl" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </section>
</section>
