<div class="navbar">
  <div class="navbar__logo"><a href="/">eBook</a></div>
  <div class="navbar__faq"><a href="/">FAQ</a></div>
  <div class="navbar__login"><a href="/logout">Logout</a></div>
</div>

<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">eBooks</span>
      <span class="heading-primary--sub"
        >Endless entertainment and knowledge in your pocket</span
      >
    </h1>
  </div>
  <div class="header__signup-button">
    <a href="/signup" class="btn btn--white">Signup</a>
  </div>
  <div class="header__login-button">
    <a href="/login" class="btn btn--white">Login</a>
  </div>
</header>
