<div class="navbar">
  <div class="navbar__logo"><a href="/">eBook</a></div>
  <div class="navbar__options">
    <div class="navbar__faq"><a href="/">FAQ</a></div>
    <div class="navbar__signup"><a href="/">Sign Up</a></div>
    <div class="navbar__login"><a href="/logout">Log In</a></div>
  </div>
</div>

<header class="header">
  <div class="landing">
    <!-- <h3 class="quote">Endless entertainment and knowledge in your pocket</h3> -->
    <h3 class="sub-heading">
      eBook means <span class="typed-text"></span
      ><span class="cursor">&nbsp;</span>
    </h3>
  </div>
</header>
